@import url("https://fonts.googleapis.com/css?family=Lato:900");
@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
/*COLORS*/
/*GRID*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  color: #22252C;
  height: 100vh;
  width: 100vw; }

.baffle {
  font-size: 2.2rem; }

.about-me {
  margin-top: 1.5rem; }

.heading-secondary {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #22252C;
  -webkit-background-clip: text;
  letter-spacing: .2rem;
  transition: all .2s;
  text-align: center; }

.heading-tertiary {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  letter-spacing: .3rem;
  transition: all .2s;
  text-align: center;
  margin-top: -6rem; }

.heading-feature-box {
  text-transform: uppercase;
  font-weight: 300;
  margin-top: 25rem;
  color: #22252C;
  -webkit-background-clip: text;
  letter-spacing: .3rem;
  transition: all .2s; }

.u-margin-bottom-small {
  margin-bottom: 3rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-huge {
  margin-bottom: 12rem; }

.u-center-text {
  text-align: center; }

.container {
  height: 100vh;
  width: 50vw;
  background-color: #22252C;
  position: relative; }
  .container--text {
    position: absolute;
    top: 0;
    right: 0; }
  .container p {
    color: #fff;
    font-size: 2em;
    padding-top: 2em; }

.btn {
  /*need to add content or after element won't showup
	Also need display*/ }
  .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative; }
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(34, 37, 44, 0.2);
    /*opacity 0 basically sets something to hidden*/ }
    .btn:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  .btn:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(34, 37, 44, 0.2); }
  .btn--white {
    background-color: #fff;
    color: #22252C; }
    .btn--white::after {
      background-color: #fff; }
  .btn--green {
    background-color: #22252C;
    color: #fff; }
    .btn--green::after {
      background-color: #22252C; }
  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s; }
  .btn--animated {
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #22252c;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #22252C;
  padding: 3px;
  transition: all 2s; }

.btn-text:hover {
  background-color: #22252C;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(34, 37, 44, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(34, 37, 44, 0.15);
  transform: translateY(0); }

.composition {
  height: 100%;
  position: relative;
  width: 100%;
  background-color: #22252C; }
  .composition__photo {
    font-size: 2em;
    width: 100%;
    /*box-shadow: 0 1.5rem .4rem rgba($color-primary, .4);*/
    border-radius: 2px;
    position: absolute;
    top: 0;
    left: 0;
    /*transition: all .2s;*/
    border: 1px solid #fff;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
    .composition__photo--p1 {
      background-size: cover;
      height: 23rem;
      background-image: linear-gradient(to right bottom, #C199F5, #3f3250), url(../img/w2g.png);
      left: 0;
      bottom: 5rem; }
    .composition__photo .composition__heading {
      font-size: 2.8rem;
      font-weight: 300;
      text-transform: uppercase;
      text-align: right;
      color: #fff;
      position: absolute;
      top: 12rem;
      right: 2rem;
      width: 75%; }
      .composition__photo .composition__heading-span {
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone; }
    .composition__photo--p2 {
      left: 33.5%;
      top: 5rem;
      display: none; }
    .composition__photo--p3 {
      right: 0;
      bottom: 5rem;
      display: none; }
    .composition__photo--p4 {
      left: 0;
      top: 5rem;
      display: none; }
    .composition__photo--p5 {
      right: 0rem;
      top: 5rem;
      display: none; }
    .composition__photo--p6 {
      right: 33.5%;
      bottom: 5rem;
      display: none; }
    .composition__photo:hover {
      box-shadow: 0 2.5 4rem rgba(34, 37, 44, 0.5); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem;
  /*
-180deg will move this in the opposite direction*/ }
  .card__side {
    height: 50rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(34, 37, 44, 0.15);
    overflow: hidden; }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #9EACCC, #61697D); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #C199F5, #3f3250); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #C199F5, #3f3250); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: color;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #C199F5, #3f3250), url(../img/frock1.png); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #ffbac4, #E14658), url(../img/w2g.png); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../img/mink.png); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 14rem;
    right: 1rem;
    width: 75%; }
  .card__heading-span {
    padding: .5rem .5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(193, 153, 245, 0.85), #604c7a); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(255, 186, 196, 0.85), #e14658); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), #5643fa); }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #C0B3A0; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__link-box {
    text-align: center;
    margin-bottom: 8rem;
    color: #fff;
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }

/*card/hover then card__side will transform. The effect goes on the parent*/
/*we added the height of 50rem to both parent and child b/c one card collapsed when
it was placed on top of one another so with absolute positioning you can't use clearfix
so we add height to both.*/
.feature {
  position: relative;
  height: 24rem; }
  .feature-box {
    height: 24rem;
    width: 24rem;
    top: 0;
    left: 0;
    background-color: white;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(34, 37, 44, 0.15);
    position: absolute;
    overflow: hidden; }
    .feature-box-picture {
      background-size: 100%;
      background-repeat: no-repeat;
      height: 24rem;
      width: 100%;
      position: relative; }
      .feature-box-picture:hover {
        background-size: 115%; }
        .feature-box-picture:hover::after {
          position: absolute;
          top: 100%;
          bottom: 0;
          left: 0;
          right: 0;
          padding: 0 .7rem;
          overflow: hidden;
          background-color: rgba(34, 37, 44, 0.9);
          color: #fff;
          content: attr(data-text); }
        .feature-box-picture:hover:hover:after {
          top: 0;
          padding: .7rem;
          background-color: rgba(34, 37, 44, 0.6); }
        .feature-box-picture:hover:first-line {
          color: #fff;
          font-weight: bold;
          font-size: 300%;
          float: left; }
        .feature-box-picture:hover:second-line {
          font-weight: bold;
          font-size: 2rem; }
      .feature-box-picture--1 {
        background-image: url(../img/game.png); }
      .feature-box-picture--2 {
        background-image: url(../img/simovi.png); }
      .feature-box-picture--3 {
        background-image: url(../img/emote.png); }
      .feature-box-picture--4 {
        background-image: url(../img/project-3.png); }

.social-box {
  margin: 5rem 0rem 0 10rem; }

.heading-primary--main {
  display: inline-block;
  font-size: 6rem;
  padding-top: 6rem;
  margin-bottom: 2rem; }

.paragraph {
  padding: 4rem 0 .5rem 2rem;
  font-size: 1.5rem; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: " ";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc(100% / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }

.col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4); }

.section-about {
  background-size: cover;
  background-color: #FFF7F0;
  padding: 10rem 0 25rem 0;
  margin-top: -10rem;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 60vh, 0 100%); }

.section-projects {
  background-color: #FCFCFF;
  padding: 25rem 0 30rem 0;
  margin-top: -19rem; }

.section-apps {
  background-color: #22252C;
  margin-top: -23rem;
  padding: 25rem 0 30rem 0;
  -webkit-clip-path: polygon(0 20%, 100% 0, 100% 80%, 0% 100%);
  clip-path: polygon(0 20%, 100% 0, 100% 80%, 0% 100%); }

.section-footer {
  background-color: #FFF7F0;
  padding: 20rem 0 20rem 0;
  margin-top: -20rem;
  height: 35rem; }
  .section-footer__text-box {
    text-align: center; }

.description {
  margin-top: 10%;
  margin-left: 17rem;
  margin-right: 17rem;
  font-size: 1.8rem; }

input, .submit .email-submit {
  cursor: pointer;
  background: none;
  padding: .5rem;
  color: inherit;
  border: none;
  font-size: 1.5rem;
  outline: none;
  border-style: solid; }
  input:link, input:visited, .submit .email-submit:link, .submit .email-submit:visited {
    display: inline-block;
    border-bottom: 1px solid #22252c;
    padding: 3px;
    transition: all 2s; }
  input:hover, .submit .email-submit:hover {
    background-color: #9EACCC;
    color: black;
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(34, 37, 44, 0.2); }
    input:hover::after, .submit .email-submit:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }

.social {
  text-decoration: none;
  color: #22252c;
  font-size: 1.5rem; }

@media only screen and (max-width: 800px) {
  body {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; }
  .title {
    font-size: 1.8rem; }
  .description {
    font-size: 1.2rem;
    margin-left: 1rem;
    margin-right: 1rem; }
  p {
    font-size: 1.2rem; }
  img {
    display: none; }
  h2 {
    font-size: 1.8rem; } }
