
/*COLORS*/

$color-black: #22252c;
$color-white: #fff;
$color-primary: #22252C;
$color-primary-light-1: #61697D;
$color-primary-light-2: #9EACCC;
$color-primary-light: #ffbac4;
$color-primary-dark: #E14658;

$color-secondary-light:#C199F5;
$color-second-dark: #604C7A;
$color-secondary-dark: #3f3250;

$color-grey-light-1: #FFF7F0;
$color-grey-light-2: #C0B3A0;
$color-grey-light-3: #FCFCFF;


$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;



/*GRID*/
$grid-width: 114rem;
$gutter-horizontal: 6rem;
$gutter-vertical: 8rem;

//Font
$default-font-size: 1.6rem;
