
@import url('https://fonts.googleapis.com/css?family=Lato:900');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@import"abstracts/variables";
@import"abstracts/mixins";

@import"base/animations";
@import"base/base";
@import"base/typography";
@import"base/utilities";

@import"components/container";
@import"components/buttons";
@import"components/composition";
@import"components/cards";
@import"components/feature-box";
@import"components/social-box";

@import"layout/header";
@import"layout/grid";

@import"pages/home";



.description{
	margin-top: 10%;
	margin-left: 17rem;
	margin-right: 17rem;
	font-size: 1.8rem;
	
}


input, .submit .email-submit {


    cursor: pointer;
    background: none;
    padding: .5rem;
    color: inherit;
    border: none;
    font-size: 1.5rem;
    outline: none;
    border-style: solid;

    
		&:link, &:visited {
			display: inline-block;
    		border-bottom: 1px solid $color-black;
			padding: 3px;
			transition: all 2s;

		}

 
    &:hover {
    	background-color: $color-primary-light-2;
    	color: black;
		transform: translateY(-3px);
		box-shadow: 0 1rem 2rem rgba($color-black, .2);
	
	&::after {
		transform: scaleX(1.4) scaleY(1.6);
		opacity: 0;
		}
    }
}


.social {
	text-decoration: none;
	color: $color-black;
	font-size: 1.5rem;
}


@media only screen and (max-width: 800px) {
 body {

  	background-position: center center;
  	background-repeat: no-repeat;
    background-size: cover;
  }
  .title { font-size: 1.8rem;}
  .description {font-size: 1.2rem;
  				margin-left: 1rem;
				margin-right: 1rem;}
  p {font-size: 1.2rem;}
  img {
	
	display: none;
}

h2 {
	font-size: 1.8rem;
}
}
