
@import url('https://fonts.googleapis.com/css?family=Lato:900');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@import"abstracts/variables";
@import"abstracts/mixins";

@import"base/animations";
@import"base/base";
@import"base/typography";
@import"base/utilities";

@import"components/container";
@import"components/buttons";
@import"components/composition";
@import"components/cards";
@import"components/feature-box";
@import"components/social-box";

@import"layout/header";
@import"layout/grid";
@import"layout/navigation";

@import"pages/home";



.description{
	margin-top: 10%;
	margin-left: 17rem;
	margin-right: 17rem;
	font-size: 1.8rem;
	
}


input, .submit .email-submit {


	cursor: pointer;
	display: inline-block;
    background: none;
    padding: .5rem;
    color: $color-primary;
	border-right: none;
	border-left:none;
	border-top: none;
    font-size: 1.5rem;
    outline: none;
	border-bottom: 1.5px solid $color-primary;

	@include respond(tab-port){
		color: $color-grey-light-1;
		border-bottom: 1.5px solid $color-grey-light-1;

	}

    
		&:link, &:visited {
			display: inline-block;
    		
			padding: 3px;
			transition: all 2s;

		}

 
    &:hover {
    	background-color: $color-primary-light-2;
    	color: black;
		transform: translateY(-3px);
		box-shadow: 0 1rem 2rem rgba($color-black, .2);
	
	&::after {
		transform: scaleX(1.4) scaleY(1.6);
		opacity: 0;
		}
    }
}


.social {
	text-decoration: none;
	color: $color-black;
	font-size: 1.5rem;
}


