

	.heading {
		&-primary--main {
		display: inline-block;
		font-size: 6rem;
		padding-top: 6rem;
		margin-bottom: 2rem;

		@include respond(tab-port) {
			margin-top: -10rem;
			}

		@include respond(phone) {
			padding-top: 0;
			}

		
		}
	}

	.paragraph {
		padding: 4rem 0 .5rem 2rem;
		font-size: 1.5rem;

	}