@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:300');
@import url('https://fonts.googleapis.com/css?family=Lato:900');
@import url('https://fonts.googleapis.com/css?family=Lato');
body {
	font-family: 'Source Code Pro', monospace;
    
}

header {
/*	width: 100vw;
	height: 15vh;
    text-align: center;
    background-color: #F0F0F0;*/
  
}
.baffle {
	font-size: 22px;
}

#container1 {
	display: flex;
	justify-content: space-around;
	align-items:center;
	flex-direction: column; 
	width: 100vw;
	height: 120vh;
	background-image: url(ciprian-boiciuc-193062.jpg);
	background-repeat: no-repeat;
    background-size: cover;
}
.title {
	text-align: center;
	border: 1px;
	height: 10vh;
	width: 70vw;
	margin-top: 10%;
	font-size: 28px;

}
.divider {
	margin-top: 25%;
	text-align: center;
	height: 70px;
	width: 100vw;
	background-color: #F0F0F0;
	font-family: 'Lato', sans-serif;
	letter-spacing: 2px;
	font-size: 30px;
	padding-top: 30px;

 
  top: calc(50% - 21px);
  left: 0;
  text-transform: uppercase;
  text-align: center;
  font: 300  #{42px}/#{1} 'Lato', sans-serif;

  opacity: 0;
  animation: in 3s ease-out forwards infinite;
  animation-delay: 3s;
}

@keyframes in{
  0%{
    letter-spacing: -17px;
    opacity: 0;
  }
  30%{
    letter-spacing: 12px;
    opacity: 1;
  }
  100%{
    letter-spacing: 12px;
    opacity: 1;
  }
}
}

.container2 {
	width: 70%;
	height: 50%;
	text-align: center;
	line-height: 1.5;
	
}

.projects {
	display: flex;
	display: -ms-flex;
	display: -webkit-flex;
}


.container2 > div:first-child {
	margin-left: 250px;
}

#content {
	margin-top: 40px;
	margin-right: 20%;
}


.description{
	margin-top: 10%;
	margin-left: 170px;
	margin-right: 170px;
	font-size: 18px
	
}
img {
	
	width: 500px;
	height:300px;
	margin-bottom: 20px;
	margin-top: 40px;
	/*border: white solid 5px;*/
	
}
#boxshadow {
    position: relative;
    -moz-box-shadow: 1px 2px 6px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 6px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 6px rgba(0, 0, 0, .5);
    padding: 10px;
   
}


a {
    text-decoration: none;
    color: black;
}

a:active {
    text-decoration-color: none;
}
a:hover {
    color: black;
}
#tog {
    margin-top: 25%;
}
#tog2 {
	margin-top: 70%;
  	padding: 10px 10px;
}

#tog3 {
	margin-top: 80% ;

}
.project-title {
	font-size: 2em;
}
#container3 {
	height: 20vh;
	width: 100vw;
	margin-bottom: 10%;
	margin-top: 10%;
	text-align: center;
	display: flex;
	justify-content: center;
}


input {
	background-color: white;
	font-family: 'Lato', sans-serif;
	font-size: 18px !important;
    border: 1px solid #2A3A3F;
    padding: 10px 15px 11px !important;
    text-align: center;
    border-radius: 5px;
    letter-spacing: 2px;
    cursor: pointer;
}

#social-git {
	height:60px;
	width: 100px;
}
#social-lkd {
	height:50px;
	width: 50px;
}

#social {
	width: 100%;
	height: 10%;
}

