.feature {
	position: relative;
	height: 24rem;

&-box {
	height: 24rem;
	width: 24rem;
	top: 0;
	left: 0;
	background-color: rgba($color-white, 10%);
	font-size: 1.5rem;
	text-align: center;
	border-radius: 3px;
	box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
	position: absolute;
	overflow: hidden;

	@include respond(tab-port) {
		margin-left: 10rem;
	}

	&-link {
		
	} 

	&-picture {
				background-size: 100%;
				background-repeat: no-repeat;
				height: 24rem;
				width: 100%;
				position: relative;

				
				
			
			&:hover,
			&:active {
				background-size: 115%;
				

				&::after{
					position: absolute;
					top: 100%;
					bottom: 0;
					left: 0;
					right:0;
					padding: 0 .7rem;
					overflow: hidden;
					background-color: rgba($color-black, .90);
					color: $color-white;
					content: attr(data-text);
					
					
				}

				&:hover:after{
					top: 0;
					padding: .7rem;
					background-color: rgba($color-black, .60);
					
				}

				&:first-line{
					color: $color-white;
					font-weight: bold;
					font-size: 300%;
					float: left;
				}

				&:second-line{
					font-weight: bold;
					font-size: 2rem;
				}
		}
				
			&--1{
				background-image: url(../img/game.png);
				}

			&--2{
				background-image: url(../img/simovi.png);
			}

			&--3{
				background-image: url(../img/emote.png);
			}

			&--4{
				background-image: url(../img/project-3.png);
			}

		}
}

}