

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.6rem;
	color: $color-primary;
	height: 100vh;
	width: 100vw;
}

.baffle {
	font-size: 2.2rem;
}

.about-me {
	margin-top: 1.5rem;
}

.heading-secondary {
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 700;
    color: $color-primary;
    -webkit-background-clip: text;
    letter-spacing: .2rem;
    transition: all .2s;
    text-align: center;
   }

.heading-tertiary {
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 700;
    color: $color-white;
    letter-spacing: .3rem;
    transition: all .2s;
    text-align: center; 
    margin-top: -6rem;
}

.heading-feature-box {
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 25rem;
    color: $color-primary;
    -webkit-background-clip: text;
    letter-spacing: .3rem;
    transition: all .2s;
}

footer {
    
}

